# Application Server
PORT=8080
GIN_MODE=debug

# Service Discovery
# Possible values: consul
DISCOVERY_PROVIDER=consul
CONSUL_ADDRESS=localhost:8500

# Consul Specific
CONSUL_RETRY_JOIN_ADDRESS=
CONSUL_GOSSIP_ENCRYPTION_KEY=
