# Application Server
PORT=8080
GIN_MODE=debug

# Circuit Breaker Settings
# MaxRequests: Number of requests allowed in half-open state
CB_MAX_REQUESTS=1
# Interval: Time (e.g., 10s, 1m) to clear internal counts
CB_INTERVAL=10s
# Timeout: Time (e.g., 30s, 1m) the breaker stays open before trying half-open
CB_TIMEOUT=30s

# Service Discovery
# Possible values: consul
DISCOVERY_PROVIDER=consul
CONSUL_ADDRESS=localhost:8500

# Consul Specific
CONSUL_RETRY_JOIN_ADDRESS=
CONSUL_GOSSIP_ENCRYPTION_KEY=
