# Binaries
# ---------------------
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Development / Hot Reload (Air)
# ---------------------
# Air saves the temporary binary here
tmp/

# Dependency Directories
# ---------------------
vendor/

# Go Workspace
# ---------------------
go.work
go.work.sum

# Environment Variables / Secrets
# ---------------------
# Never commit secrets!
.env
.env.local
.env.*.local

# IDEs / Editors
# ---------------------
# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# JetBrains (GoLand)
.idea/
*.iml

# Vim/Emacs/Others
*.swp
*.swo
*~

\#*#

# Consul Generated Artifacts
# ---------------------
consul_data/

# OS Specific
# ---------------------
# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini
